body {
  font-family: $base-font-family;
}

h1,
h3,
h3,
h4,
h5,
h6, {
  font-family: $base-font-family;
  font-weight: $heading-font-weight;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  
  strong {
    font-weight: $heading-font-weight;
  }
  
  &.small {
    font-size: $small-font-size;
  }
  
  &.knockout {
    color: $white;
    
    a {
      color: $white;
      &:hover,
      &:active {
        color: darken($white, 10%);
      }  
    }
  }
}

small {
  font-size: $small-font-size;
  
  &.knockout {
    color: $white;
  }
}

a {
  color: $light-blue;
  
  @include default-button-transition;
  
  &:hover,
  &:active {
    color: darken($light-blue, 10%);
  }
}