$dark-blue: #25156C;
$blue: #2181FF;
$light-blue: #43E3D5;
$green: #4EED79;
$red: #FF5454;
$orange: #FF913A;
$purple: #CB37FC;
$yellow: #F7F54F;
$pink: #FF62BE;

$white: #FFFFFF;
$light-gray: #CCD1DA;
$light-gray-darker: #8A8E96;
$med-gray: #444A54;
$med-gray-darker: #3D424A;
$dark-gray: #1C2026;